/****
 **** HTML ELEMENT STYLING
 ****/
/* LESS.css variables */
/* CLASSIC 1b */
/* LESS.css variables */
/* (get imported in each separate .less file) 
CLASSIC 1A*/
/******************************** LAYOUT ********************************/
/******************************** COLORS ********************************//* Branding Colors */
/****************************** TYPOGRAPHY ******************************/
strong,
b {
  font-family: 'Avenir LT W01 45 Book', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-weight: 700;
}
em,
i {
  font-family: 'Avenir LT W01 45 Book', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-style: italic;
}
strong em,
em strong,
b i,
i b {
  font-family: 'AvenirLTW01-85HeavyObli', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-style: italic;
  font-weight: 700;
}
body#tinymce em,
body.forceColors #iframe em,
body #tinymce em,
body.mceContentBody em,
body#tinymce i,
body.forceColors #iframe i,
body #tinymce i,
body.mceContentBody i {
  font-style: italic;
}
body#tinymce b,
body.forceColors #iframe b,
body #tinymce b,
body.mceContentBody b,
body#tinymce strong,
body.forceColors #iframe strong,
body #tinymce strong,
body.mceContentBody strong {
  font-weight: bold;
}
/*************************** HTML BASE STYLES ****************************/
/* H1*/
/* H2*/
/* H3*/
/* H4*/
/* H5*/
/* H6*/
/* Blockquote */
/* Links */
/*************************** FORM BASE STYLES ****************************/
/******************************** BUTTONS ********************************/
/******************************** HEADER ********************************/
/******************************** TOOLBAR ********************************/
/******************************** NAVBAR ********************************/
/***************************** MOBILE MENU ******************************/
/****************************** SEARCH **********************************/
/**************************** SIDEBAR-LEFT ******************************/
/**************************** SIDEBAR-RIGHT *****************************/
/****************************** FLEX SLIDER *******************************/
/******************************** FOOTER ********************************/
/******************************* HOMEPAGE *******************************/
/* Events Feed */
/* Callouts */
/* News Feed */
/* Desktop View */
/********************************* AUX **********************************/
/* ALERT variables */
/* BLOG Feature variables */
/* CURRICULUM variables */
/* CALENDAR variables */
/* FAQ variables */
/* DIRECTORY Feature variables */
/* GROUPS Feature variables */
/* IMAGE variables */
/* NEWS Feature variables */
/* NEWSLETTER variables */
/* NEWSLETTER mail variables */
/****************************** FUNCTIONS *******************************/
.no_select_highlight {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/* DEPRECIATED */
/* @navbar-text: #fff; */
/* @navbar-active: @color-light-green; */
/* @navbar-height: auto; */
/* @submit-button-top: @color-blue; */
/* @submit-button-bottom: @color-dark-blue; */
/* @submit-button-hover-top: @color-dark-blue; */
/* @submit-button-hover-bottom: @color-blue; */
/* @callout-color: @color-red; */
/* @callout-link: @color-red; */
/* @callout-gradient: @color-red; */
/* @submit-button: @color-light-green; */
/* @submit-button-hover: @color-green; */
/* @directory-button-show-all: @color-green; */
/* @directory-button-show-all-hover: @color-light-green; */
/* @directory-button-show-all-text: #fff; */
/* @directory-button-show-all-text-hover: #fff; */
/** fonts **/
/*
   * Our font size and line height declarations are based on the following ALA
   * article:
   *   http://www.alistapart.com/articles/howtosizetextincss
   *
   * All modern browsrs use a 16px default font size. Specifying the font-size
   * and line-height in ems (relative to the 16px default font) allows the user
   * to resize the font in the browser and produces the most consistent results
   * across different browsers.
   */
body {
  font-size: 100%;
  /* Fixes exaggerated text resizing in IE6 and IE7 */

}
#page {
  /*
     * To use a 12px font size on the page, delete the 14px declarations.
     * to use a 14px font size on the page, delete the 12px declarations.
     */

  /* Use a 12px base font size with a 16px line height */

  /* Use a 14px base font size with a 18px line height */

  /* Custom : As defined in variables.css */

  font-size: 1em;
  line-height: 1.25em;
}
body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset {
  /* The following font family declarations are based on the Microsoft core
     * web fonts which are common fonts available on most computer systems. The
     * Bitstream Vera fonts are commonly available on Linux systems where the MS
     * fonts are less common.
     *
     * A user's web browser will look at the comma-separated list and will
     * attempt to use each font in turn until it finds one that is available
     * on the user's computer. The final "generic" font (sans-serif or serif)
     * hints at what type of font to use if the web browser doesn't find any
     * of the fonts in the list.

    font-family: "Times New Roman", Times, Georgia, "Bitstream Vera Serif", serif;
    font-family: Times, "Times New Roman", Georgia, "Bitstream Vera Serif", serif;
    font-family: Georgia, "Times New Roman", "Bitstream Vera Serif", serif;

    font-family: Verdana, Tahoma, Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
    font-family: Tahoma, Verdana, Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
    font-family: Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
    font-family: Arial, Helvetica, "Bitstream Vera Sans", sans-serif;

    font-family: "Bitstream Vera Sans Mono", "Courier New", monospace;

     */

  font-family: 'Avenir LT W01 45 Book', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
}
.wf-inactive body,
.wf-inactive caption,
.wf-inactive th,
.wf-inactive td,
.wf-inactive input,
.wf-inactive textarea,
.wf-inactive select,
.wf-inactive option,
.wf-inactive legend,
.wf-inactive fieldset,
.wf-inactive #page {
  font-family: Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-size: .92em;
  letter-spacing: 0.01em;
  line-height: 1.6em;
}
pre,
code {
  font-size: 1.1em;
  /* Monospace fonts can be hard to read */

  font-family: "Bitstream Vera Sans Mono", "Courier New", monospace;
}
/** headings **/
h1 {
  font-family: 'Palatino LT W01 Light', Rockwell, Georgia, "Times New Roman", "Bitstream Vera Serif", serif;
  font-weight: normal;
  color: #ff8500;
  font-size: 1.75em;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 0.5em;
  /* 0.5em is equavalent to 1em in the page's base font.
                             Remember, a margin specified in ems is relative to
                             the element's font-size, not to the pages' base
                             font size. So, for example, if we want a 1em margin
                             (relative to the base font), we have to divide that
                             length by the element's font-size:
                             1em / 2em = 0.5em */

}
.wf-inactive h1 {
  font-family: Rockwell, Georgia, "Times New Roman", "Bitstream Vera Serif", serif;
  font-weight: normal;
  font-size: 1.965em;
  letter-spacing: 0.015em;
  line-height: 1.05em;
  margin: 1em 0 1em 0;
}
h2 {
  font-family: 'Palatino LT W01 Light', Rockwell, Georgia, "Times New Roman", "Bitstream Vera Serif", serif;
  font-weight: normal;
  color: #00705a;
  font-size: 1.5em;
  line-height: 1.3em;
  margin-top: 0.667em;
  /* Equivalent to 1em in the page's base font: 1 / 1.5 = 0.667em */

  margin-bottom: 0.667em;
}
h3 {
  font-family: 'Avenir LT W01 45 Book', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-weight: bold;
  color: #68ad45;
  font-size: 1.375em;
  line-height: 1.3em;
  margin-top: 0.769em;
  /* Equivalent to 1em in the page's base font: 1 / 1.3 = 0.769 */

  margin-bottom: 0.769em;
}
h4 {
  font-family: 'Avenir LT W01 45 Book', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-weight: normal;
  color: #cccccc;
  font-size: 1.25em;
  line-height: 1.3em;
  margin-top: 0.909em;
  /* Equivalent to 1em in the page's base font: 1 / 1.1 = 0.909 */

  margin-bottom: 0.909em;
}
h5 {
  font-family: 'Avenir LT W01 45 Book', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-weight: normal;
  color: #cccccc;
  font-size: 1.125em;
  line-height: 1.3em;
  margin-top: 0.909em;
  /* Equivalent to 1em in the page's base font: 1 / 1.1 = 0.909 */

  margin-bottom: 0.909em;
}
h6 {
  font-family: 'Avenir LT W01 45 Book', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-weight: normal;
  color: #cccccc;
  font-size: 1em;
  line-height: 1.3em;
  margin-top: 0.909em;
  /* Equivalent to 1em in the page's base font: 1 / 1.1 = 0.909 */

  margin-bottom: 0.909em;
}
/** block-level elements **/
p,
ul,
ol,
dl,
pre,
table,
fieldset,
blockquote {
  margin: 1em 0;
}
/** lists **/
/* standardize list item indentation */
ul,
ol {
  margin-left: 0;
  padding-left: 2em;
}
.block ul,
.item-list ul {
  margin: 1em 0;
  padding: 0 0 0 2em;
}
ul ul,
ul ol,
ol ol,
ol ul,
.block ul ul,
.block ul ol,
.block ol ol,
.block ol ul,
.item-list ul ul,
.item-list ul ol,
.item-list ol ol,
.item-list ol ul {
  margin: 0;
}
li {
  margin: 0;
  padding: 0;
}
.item-list ul li {
  margin: 0;
  padding: 0;
  list-style: inherit;
}
ul.menu li,
li.expanded,
li.collapsed,
li.leaf {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: disc;
}
ul ul {
  list-style-type: circle;
}
ul ul ul {
  list-style-type: square;
}
ul ul ul ul {
  list-style-type: circle;
}
ol {
  list-style-type: decimal;
}
ol ol {
  list-style-type: lower-alpha;
}
ol ol ol {
  list-style-type: decimal;
}
dt {
  margin: 0;
  padding: 0;
}
dd {
  margin: 0 0 0 2em;
  padding: 0;
}
/** links **/
/* The order of link states are based on Eric Meyer's article:
   * http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states
   */
a:link {
  color: #00705a;
}
a:visited {
  color: #004e38;
}
a:hover,
a:focus {
  color: #002c16;
}
a:active {
  color: #002c16;
}
/** tables **/
/* Override Drupal default CSS */
table {
  border-collapse: collapse;
  width: 100%;
  /* Prevent cramped-looking tables */

}
th,
thead th,
tbody th {
  text-align: left;
  padding-right: 0;
  border-bottom: none;
}
tbody {
  border-top: none;
}
/** abbreviations **/
abbr {
  border-bottom: 1px dotted #666;
  cursor: help;
  white-space: nowrap;
}
/* Date-based "abbreviations" show computer-friendly timestamps which are not
     human-friendly. */
abbr.created {
  border: none;
  cursor: auto;
  white-space: normal;
}
/** images **/
img {
  border: 0;
  max-width: 100%;
  height: auto;
}
/** horizontal rules **/
hr {
  height: 1px;
  border: 1px solid #666;
}
/** forms **/
form {
  margin: 0;
  padding: 0;
}
fieldset {
  margin: 1em 0;
  padding: 0.5em;
}
/** Form Styles **/
input[type="text"],
input[type="password"] {
  font-family: 'Avenir LT W01 45 Book', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  padding: .5em;
  border: solid 1px #cccccc;
  background-color: #ffffff;
}
input[type="submit"],
.directory-styles .button-show-all a {
  padding: .8em 1.5em .75em 1.5em;
  font-family: 'Avenir LT W01 45 Book', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-size: 0.8125em;
  font-weight: normal;
  line-height: 1;
  color: #ffffff;
  border: none;
  background: #68ad45;
}
input[type="submit"]:hover,
.directory-styles .button-show-all a:hover {
  cursor: pointer;
  background: #00705a;
}
#webform-components td {
  width: 100%;
}
.webform-container-inline .form-item label {
  clear: both;
  display: inline;
  float: left;
  margin: 0 2% 1em 0;
  width: 30%;
}
.webform-container-inline .form-item input.form-text {
  float: left;
  width: 60%;
}
.webform-component {
  clear: both;
}
blockquote {
  border-left: 10px solid #ff8500;
  color: #ff8500;
  font-family: 'PalatinoLTW01-LightItal', Rockwell, Georgia, "Times New Roman", "Bitstream Vera Serif", serif;
  font-size: 1.125em;
  margin: 1.5em 0;
  padding: .5em 2em;
}
/* Button Styles */
.btn-1,
a.btn-1 {
  /* 	border-radius: 0.75em; */

  color: #00705a;
  background: none;
  padding: 0.5em 3em;
  min-width: 175px;
  display: block;
  font-family: 'Avenir LT W01 45 Book', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-size: 1.1em;
  text-align: center;
  border: 2px solid #00705a;
  transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
  /* Safari */

  text-decoration: none;
}
.btn-1:hover,
a.btn-1:hover {
  background: #00705a;
  color: #ffffff;
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  /* Safari */

}
.btn-1:hover a,
a.btn-1:hover a {
  color: #ffffff;
}
.btn-1 a,
a.btn-1 a {
  color: #00705a;
  text-decoration: none;
}
.btn-1 span.ext,
a.btn-1 span.ext {
  display: none;
}
.btn-2,
a.btn-2 {
  /* 	border-radius: 0.75em; */

  color: #ffffff;
  padding: 0.5em 3em;
  display: block;
  font-family: 'Avenir LT W01 45 Book', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-size: 1.1em;
  min-width: 175px;
  text-align: center;
  background: #00705a;
  border: 2px solid #00705a;
  transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
  /* Safari */

  text-decoration: none;
}
.btn-2:hover,
a.btn-2:hover {
  background: #ffffff;
  color: #00705a;
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  /* Safari */

}
.btn-2:hover a,
a.btn-2:hover a {
  color: #00705a;
}
.btn-2 a,
a.btn-2 a {
  color: #ffffff;
  text-decoration: none;
}
.btn-2 span.ext,
a.btn-2 span.ext {
  display: none;
}
@media screen and (min-width: 800px) {
  .btn-1,
  .btn-2,
  a.btn-1,
  a.btn-2 {
    display: inline-block;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 801px) {
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: auto;
  }
}
