/* LESS.css variables */
/* CLASSIC 1b */
/* LESS.css variables */
/* (get imported in each separate .less file) 
CLASSIC 1A*/
/******************************** LAYOUT ********************************/
/******************************** COLORS ********************************//* Branding Colors */
/****************************** TYPOGRAPHY ******************************/
strong,
b {
  font-family: 'Avenir LT W01 45 Book', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-weight: 700;
}
em,
i {
  font-family: 'Avenir LT W01 45 Book', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-style: italic;
}
strong em,
em strong,
b i,
i b {
  font-family: 'AvenirLTW01-85HeavyObli', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-style: italic;
  font-weight: 700;
}
body#tinymce em,
body.forceColors #iframe em,
body #tinymce em,
body.mceContentBody em,
body#tinymce i,
body.forceColors #iframe i,
body #tinymce i,
body.mceContentBody i {
  font-style: italic;
}
body#tinymce b,
body.forceColors #iframe b,
body #tinymce b,
body.mceContentBody b,
body#tinymce strong,
body.forceColors #iframe strong,
body #tinymce strong,
body.mceContentBody strong {
  font-weight: bold;
}
/*************************** HTML BASE STYLES ****************************/
/* H1*/
/* H2*/
/* H3*/
/* H4*/
/* H5*/
/* H6*/
/* Blockquote */
/* Links */
/*************************** FORM BASE STYLES ****************************/
/******************************** BUTTONS ********************************/
/******************************** HEADER ********************************/
/******************************** TOOLBAR ********************************/
/******************************** NAVBAR ********************************/
/***************************** MOBILE MENU ******************************/
/****************************** SEARCH **********************************/
/**************************** SIDEBAR-LEFT ******************************/
/**************************** SIDEBAR-RIGHT *****************************/
/****************************** FLEX SLIDER *******************************/
/******************************** FOOTER ********************************/
/******************************* HOMEPAGE *******************************/
/* Events Feed */
/* Callouts */
/* News Feed */
/* Desktop View */
/********************************* AUX **********************************/
/* ALERT variables */
/* BLOG Feature variables */
/* CURRICULUM variables */
/* CALENDAR variables */
/* FAQ variables */
/* DIRECTORY Feature variables */
/* GROUPS Feature variables */
/* IMAGE variables */
/* NEWS Feature variables */
/* NEWSLETTER variables */
/* NEWSLETTER mail variables */
/****************************** FUNCTIONS *******************************/
.no_select_highlight {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/* DEPRECIATED */
/* @navbar-text: #fff; */
/* @navbar-active: @color-light-green; */
/* @navbar-height: auto; */
/* @submit-button-top: @color-blue; */
/* @submit-button-bottom: @color-dark-blue; */
/* @submit-button-hover-top: @color-dark-blue; */
/* @submit-button-hover-bottom: @color-blue; */
/* @callout-color: @color-red; */
/* @callout-link: @color-red; */
/* @callout-gradient: @color-red; */
/* @submit-button: @color-light-green; */
/* @submit-button-hover: @color-green; */
/* @directory-button-show-all: @color-green; */
/* @directory-button-show-all-hover: @color-light-green; */
/* @directory-button-show-all-text: #fff; */
/* @directory-button-show-all-text-hover: #fff; */
/* underline all links */
a:link,
a:visited {
  text-decoration: underline !important;
}
/* Don't underline header */
#site-name a:link,
#site-name a:visited {
  text-decoration: none !important;
}
/* CSS2 selector to add visible href after links */
#content a:link:after,
#content a:visited:after {
  font-size: 0.8em;
  font-weight: normal;
}
/* Un-float the content */
#content,
#content-inner {
  float: none;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}
/* Turn off any background colors or images */
body,
#page,
#page-inner,
#main,
#main-inner,
#content,
#content-inner {
  color: #000;
  background-color: transparent !important;
  background-image: none !important;
  -webkit-box-shadow: 0 0 0px #ffffff;
  -moz-box-shadow: 0 0 0px #ffffff;
  box-shadow: 0 0 0px #ffffff;
}
/* Hide sidebars and nav elements */
#skip-to-nav,
#navbar,
#sidebar-left,
#sidebar-right,
footer,
.breadcrumb,
div.tabs,
.links,
.taxonomy,
.book-navigation,
.forum-topic-navigation,
.pager,
.feed-icons,
#header-blocks {
  visibility: hidden;
  display: none;
}
/* Otherwise, Firefox clips the content after the first page. */
#page {
  overflow-y: visible;
}
/* calendar-specific */.section-calendar #logo img {
  width: 100px;
}
.section-calendar a:link:after,
.section-calendar a:visited:after {
  content: "" !important;
  display: none;
}
#block-views-Calendar_Nav_Menu-block_1 {
  display: none;
}
.section-calendar h1.title {
  display: none;
}
.section-calendar .date-nav {
  float: left;
  margin: -80px 0px 0px 125px;
}
.calendar-calendar tr td {
  background-color: transparent !important;
  font-size: .76em;
  border: solid 1px #000000 !important;
}
.calendar-calendar td .inner div.day {
  width: 100% !important;
  text-align: right;
}
.calendar-calendar td .inner div,
.calendar-calendar td .inner div a {
  float: none;
}
.calendar-calendar td .inner div a:link,
.calendar-calendar td .inner div a:visited {
  text-decoration: none !important;
}
.calendar-calendar .view-data-node-title {
  padding-bottom: 0px !important;
}
.calendar-calendar .view-data-node-title a {
  padding: 0px !important;
}
/* lunch menu specific */#block-block-53 {
  display: none;
}
