/*
 * CORE CSS FOR SY ATHLETICS FEATURE:
 * sy_calendar
 */
/* LESS.css variables */
/* CLASSIC 1b */
/* LESS.css variables */
/* (get imported in each separate .less file) 

CLASSIC 2*/
/******************************** LAYOUT ********************************/
/******************************** COLORS ********************************/
/* Branding Colors */
/****************************** TYPOGRAPHY ******************************/
strong,
b {
  font-family: 'Avenir LT W01 45 Book', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-weight: 700;
}
em,
i {
  font-family: 'Avenir LT W01 45 Book', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-style: italic;
}
strong em,
em strong,
b i,
i b {
  font-family: 'AvenirLTW01-85HeavyObli', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-style: italic;
  font-weight: 700;
}
body#tinymce em,
body.forceColors #iframe em,
body #tinymce em,
body.mceContentBody em,
body#tinymce i,
body.forceColors #iframe i,
body #tinymce i,
body.mceContentBody i {
  font-style: italic;
}
body#tinymce b,
body.forceColors #iframe b,
body #tinymce b,
body.mceContentBody b,
body#tinymce strong,
body.forceColors #iframe strong,
body #tinymce strong,
body.mceContentBody strong {
  font-weight: bold;
}
/*************************** HTML BASE STYLES ****************************/
/* H1*/
/* H2*/
/* H3*/
/* H4*/
/* H5*/
/* H6*/
/* Blockquote */
/* Links */
/*************************** FORM BASE STYLES ****************************/
/******************************** BUTTONS ********************************/
/******************************** HEADER ********************************/
/******************************** TOOLBAR ********************************/
/******************************** NAVBAR ********************************/
/***************************** MOBILE MENU ******************************/
/****************************** SEARCH **********************************/
/**************************** SIDEBAR-LEFT ******************************/
/**************************** SIDEBAR-RIGHT *****************************/
/****************************** FLEX SLIDER *******************************/
/******************************** FOOTER ********************************/
/******************************* HOMEPAGE *******************************/
/* Events Feed */
/* Callouts */
/* News Feed */
/* Desktop View */
/********************************* AUX **********************************/
/* ALERT variables */
/* CALLOUT button */
/* BLOG Feature variables */
/* BUTTON colors */
/* CALENDAR variables */
/* FAQ variables */
/* DIRECTORY Feature variables */
/* GROUPS Feature variables */
/* HOMEPAGE variables */
/* NEWS Feature variables */
/* NEWSLETTER variables */
/* NEWSLETTER mail variables */
/****************************** FUNCTIONS *******************************/
.no_select_highlight {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/*****************************
****** CALENDAR styles *******
*****************************/
.calendar-styles .view-header {
  float: right;
}
.calendar-styles .view-content .calendar-calendar ul.links {
  clear: both;
  float: right;
  margin-bottom: 2em;
  position: relative;
}
.calendar-styles .view-content .calendar-calendar .date-nav {
  float: left;
  margin: 0 auto 1em;
  text-align: center;
}
.calendar-styles .view-content .calendar-calendar .date-nav .date-prev {
  clear: both;
  float: left;
  font-size: 1em;
  position: relative;
  right: auto;
  text-align: left;
}
.calendar-styles .view-content .calendar-calendar .date-nav .date-prev:hover {
  background: #ccc;
  cursor: pointer;
}
.calendar-styles .view-content .calendar-calendar .date-nav .date-prev span {
  margin-left: 5px;
  margin-right: -4px;
}
.calendar-styles .view-content .calendar-calendar .date-nav .date-prev span a {
  background: url(../images/icon_prev.png) no-repeat;
  display: inline-block;
  height: 14px;
  text-indent: -999em;
  width: 12px;
}
.calendar-styles .view-content .calendar-calendar .date-nav .date-heading {
  float: left;
  width: auto;
}
.calendar-styles .view-content .calendar-calendar .date-nav .date-heading h3 {
  margin: 0 0.3em;
  color: #68ad45;
}
.calendar-styles .view-content .calendar-calendar .date-nav .date-next {
  float: left;
  font-size: 1em;
  position: relative;
  text-align: left;
}
.calendar-styles .view-content .calendar-calendar .date-nav .date-next:hover {
  background: #ccc;
  cursor: pointer;
}
.calendar-styles .view-content .calendar-calendar .date-nav .date-next span {
  margin-right: 5px;
  margin-left: -4px;
}
.calendar-styles .view-content .calendar-calendar .date-nav .date-next span a {
  background: url(../images/icon_next.png) no-repeat;
  display: inline-block;
  height: 14px;
  text-indent: -999em;
  width: 12px;
}
.calendar-calendar table thead tr {
  background: #00705a;
  border: 1px solid #00705a;
}
.calendar-calendar table thead tr th.days {
  color: #fff;
}
/* FIX for Calendar Multiday module */
.view-content::after {
  content: "";
  display: block;
  height: auto;
  clear: inherit;
  visibility: visible;
}
/* Calendar view link fix */
.view-content .calendar-calendar ul.links {
  margin-top: 0;
}
/* Calendar week view width fix */
.calendar-calendar .week-view table.full,
.calendar-calendar .day-view table.full {
  width: 100%;
}
/* override Calendar Multiday default styles */
.calendar-calendar .month-view .full td.single-day div.monthview,
.calendar-calendar .week-view .full td.single-day div.weekview,
.calendar-calendar .day-view .full td.single-day div.dayview {
  background: #e5e5e5;
  font-family: 'Avenir LT W01 45 Book', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-weight: normal;
  line-height: 1.35em;
}
.calendar-calendar td span.date-display-single,
.calendar-calendar td span.date-display-start,
.calendar-calendar td span.date-display-end,
.calendar-calendar td span.date-display-separator {
  font-weight: normal;
}
.calendar-calendar .month-view .full td.multi-day div.monthview,
.calendar-calendar .week-view .full td.multi-day div.weekview,
.calendar-calendar .day-view .full td.multi-day div.dayview {
  background: #00705a;
  font-family: 'Avenir LT W01 45 Book', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
}
.calendar-calendar .month-view .full td.multi-day .inner .monthview .continues,
.calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff,
.calendar-calendar .week-view .full td.multi-day .inner .weekview .continues,
.calendar-calendar .week-view .full td.multi-day .inner .weekview .cutoff {
  background: #00705a;
  font-family: 'Avenir LT W01 45 Book', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
}
/* FIX for Calendar Multiday module HEIGHT 	*/
.calendar-calendar .month-view .full td.multi-day .calendar.monthview .contents,
.calendar-calendar .week-view .full td.multi-day .calendar.weekview .contents {
  position: relative;
  width: auto;
  left: 0;
}
.calendar-calendar .month-view .full td.multi-day .calendar.monthview .view-field {
  white-space: normal;
  float: none;
  margin-right: 0;
}
.calendar-calendar .month-view .full td.multi-day div.monthview,
.calendar-calendar .week-view .full td.multi-day div.weekview,
.calendar-calendar .day-view .full td.multi-day div.dayview {
  height: auto;
  overflow: hidden;
  margin: 0px auto;
  position: relative;
  padding: 3px;
  line-height: 1.4em;
}
.date-nav div.date-heading h3 {
  margin: 1em 0;
}
div#calpopup {
  -webkit-border-top-left-radius: 0.25em;
  -moz-border-radius-topleft: 0.25em;
  -o-border-top-left-radius: 0.25em;
  border-top-left-radius: 0.25em;
  -webkit-border-top-right-radius: 0.25em;
  -moz-border-radius-topright: 0.25em;
  -o-border-top-right-radius: 0.25em;
  border-top-right-radius: 0.25em;
  -webkit-border-bottom-right-radius: 0.25em;
  -moz-border-radius-bottomright: 0.25em;
  -o-border-bottom-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  -webkit-border-bottom-left-radius: 0.25em;
  -moz-border-radius-bottomleft: 0.25em;
  -o-border-bottom-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  border-radius: 0.25em 0.25em 0.25em 0.25em;
  -webkit-box-shadow: 1px 1px 3px #000000;
  -moz-box-shadow: 1px 1px 3px #000000;
  box-shadow: 1px 1px 3px #000000;
}
div#calpopup-body {
  margin: 0 .75em .75em .75em;
}
div#calpopup-body h2 {
  text-transform: none;
}
.calendar-calendar .month-view .full td.date-box.today {
  border-width: 2px 2px 0px 2px;
  border-style: solid;
  border-color: #ffffff;
}
.calendar-calendar .month-view .full tr td.single-day.today {
  border-bottom: 2px solid #ffffff;
}
.calendar-calendar .month-view .full tr td.today,
.calendar-calendar .month-view .full tr.odd td.today,
.calendar-calendar .month-view .full tr.even td.today {
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}
.calendar-calendar .month-view .full tr td.multi-day.ends-today {
  border-right: 2px solid #ffffff;
}
.calendar-calendar .month-view .full tr td.multi-day.starts-today {
  border-left: 2px solid #ffffff;
}
.calendar-calendar td .inner div.day a {
  color: #68ad45;
}
.calendar-calendar .view-content::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.views-exposed-form .views-exposed-widget {
  padding-right: 0;
}
.views-exposed-form .views-exposed-widget .bef-checkboxes {
  font-family: 'Avenir LT W01 45 Book', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-size: 0.75em;
}
.view-directory .views-exposed-form .views-exposed-widget {
  padding: .5em 1em 0 0;
}
#print_block a,
#ical_block a {
  margin-right: 5px;
}
p.footnote {
  font-size: 0.75em;
}
/**** /end CALENDAR Feature styles ****/
/*******************************
***** CALENDAR LIST styles *****
*******************************/
.calendar-styles article {
  clear: both;
  margin-bottom: 0.75em;
}
.calendar-styles i.date_grouping {
  color: #00705a;
  float: left;
  font-family: 'Avenir LT W01 45 Book', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-size: 1.125em;
  font-style: normal;
  min-width: 4em;
  text-align: center;
}
.calendar-styles i.date_grouping b,
.calendar-styles i.date_grouping i {
  display: block;
}
.calendar-styles i.date_grouping i {
  font-style: normal;
}
.calendar-styles b.event_title {
  border-left: 1px solid #68ad45;
  float: left;
  font-family: 'Avenir LT W01 85 Heavy', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-size: 1em;
  margin: 0 0 1em 0.75em;
  padding: 0 0 1em 0.75em;
}
.calendar-styles b.event_title a {
  color: #68ad45;
  text-decoration: none;
}
.calendar-styles b.event_title a:hover {
  text-decoration: underline;
}
/**** /end CALENDAR LIST styles ****/
