/*
 * CORE CSS FOR SY LIGHTBOX FEATURE:
 * 
 */
/* LESS.css variables */
/* CLASSIC 1b */
/* LESS.css variables */
/* (get imported in each separate .less file) 

CLASSIC 2*/
/******************************** LAYOUT ********************************/
/******************************** COLORS ********************************/
/* Branding Colors */
/****************************** TYPOGRAPHY ******************************/
strong,
b {
  font-family: 'Avenir LT W01 45 Book', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-weight: 700;
}
em,
i {
  font-family: 'Avenir LT W01 45 Book', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-style: italic;
}
strong em,
em strong,
b i,
i b {
  font-family: 'AvenirLTW01-85HeavyObli', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-style: italic;
  font-weight: 700;
}
body#tinymce em,
body.forceColors #iframe em,
body #tinymce em,
body.mceContentBody em,
body#tinymce i,
body.forceColors #iframe i,
body #tinymce i,
body.mceContentBody i {
  font-style: italic;
}
body#tinymce b,
body.forceColors #iframe b,
body #tinymce b,
body.mceContentBody b,
body#tinymce strong,
body.forceColors #iframe strong,
body #tinymce strong,
body.mceContentBody strong {
  font-weight: bold;
}
/*************************** HTML BASE STYLES ****************************/
/* H1*/
/* H2*/
/* H3*/
/* H4*/
/* H5*/
/* H6*/
/* Blockquote */
/* Links */
/*************************** FORM BASE STYLES ****************************/
/******************************** BUTTONS ********************************/
/******************************** HEADER ********************************/
/******************************** TOOLBAR ********************************/
/******************************** NAVBAR ********************************/
/***************************** MOBILE MENU ******************************/
/****************************** SEARCH **********************************/
/**************************** SIDEBAR-LEFT ******************************/
/**************************** SIDEBAR-RIGHT *****************************/
/****************************** FLEX SLIDER *******************************/
/******************************** FOOTER ********************************/
/******************************* HOMEPAGE *******************************/
/* Events Feed */
/* Callouts */
/* News Feed */
/* Desktop View */
/********************************* AUX **********************************/
/* ALERT variables */
/* CALLOUT button */
/* BLOG Feature variables */
/* BUTTON colors */
/* CALENDAR variables */
/* FAQ variables */
/* DIRECTORY Feature variables */
/* GROUPS Feature variables */
/* HOMEPAGE variables */
/* NEWS Feature variables */
/* NEWSLETTER variables */
/* NEWSLETTER mail variables */
/****************************** FUNCTIONS *******************************/
.no_select_highlight {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/**************************************
******* LIGHTBOX IMG Styles ************
**************************************/
a.lightbox-processed:link,
a.lightbox-processed:visited {
  position: relative;
  text-decoration: none;
}
a.lightbox-processed .image-caption-container {
  position: relative;
}
a.lightbox-processed .image-caption-container:after {
  content: '+';
  -webkit-border-top-left-radius: 10em;
  -moz-border-radius-topleft: 10em;
  -o-border-top-left-radius: 10em;
  border-top-left-radius: 10em;
  -webkit-border-top-right-radius: 10em;
  -moz-border-radius-topright: 10em;
  -o-border-top-right-radius: 10em;
  border-top-right-radius: 10em;
  -webkit-border-bottom-right-radius: 10em;
  -moz-border-radius-bottomright: 10em;
  -o-border-bottom-right-radius: 10em;
  border-bottom-right-radius: 10em;
  -webkit-border-bottom-left-radius: 10em;
  -moz-border-radius-bottomleft: 10em;
  -o-border-bottom-left-radius: 10em;
  border-bottom-left-radius: 10em;
  border-radius: 10em 10em 10em 10em;
  background: rgba(0, 112, 90, 0.65);
  color: #fff;
  font-family: Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  line-height: 1em;
  padding: 0.1em .25em .25em .25em;
  position: absolute;
  top: .75em;
  right: .75em;
  text-decoration: none;
  z-index: 5;
}
/**** /end LIGHTBOX Feature styles ****/
