/*
 * CORE CSS FOR SY NEWS FEATURE:
 * sy_groups
 */
/* LESS.css variables */
/* CLASSIC 1b */
/* LESS.css variables */
/* (get imported in each separate .less file) 

CLASSIC 2*/
/******************************** LAYOUT ********************************/
/******************************** COLORS ********************************/
/* Branding Colors */
/****************************** TYPOGRAPHY ******************************/
strong,
b {
  font-family: 'Avenir LT W01 45 Book', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-weight: 700;
}
em,
i {
  font-family: 'Avenir LT W01 45 Book', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-style: italic;
}
strong em,
em strong,
b i,
i b {
  font-family: 'AvenirLTW01-85HeavyObli', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-style: italic;
  font-weight: 700;
}
body#tinymce em,
body.forceColors #iframe em,
body #tinymce em,
body.mceContentBody em,
body#tinymce i,
body.forceColors #iframe i,
body #tinymce i,
body.mceContentBody i {
  font-style: italic;
}
body#tinymce b,
body.forceColors #iframe b,
body #tinymce b,
body.mceContentBody b,
body#tinymce strong,
body.forceColors #iframe strong,
body #tinymce strong,
body.mceContentBody strong {
  font-weight: bold;
}
/*************************** HTML BASE STYLES ****************************/
/* H1*/
/* H2*/
/* H3*/
/* H4*/
/* H5*/
/* H6*/
/* Blockquote */
/* Links */
/*************************** FORM BASE STYLES ****************************/
/******************************** BUTTONS ********************************/
/******************************** HEADER ********************************/
/******************************** TOOLBAR ********************************/
/******************************** NAVBAR ********************************/
/***************************** MOBILE MENU ******************************/
/****************************** SEARCH **********************************/
/**************************** SIDEBAR-LEFT ******************************/
/**************************** SIDEBAR-RIGHT *****************************/
/****************************** FLEX SLIDER *******************************/
/******************************** FOOTER ********************************/
/******************************* HOMEPAGE *******************************/
/* Events Feed */
/* Callouts */
/* News Feed */
/* Desktop View */
/********************************* AUX **********************************/
/* ALERT variables */
/* CALLOUT button */
/* BLOG Feature variables */
/* BUTTON colors */
/* CALENDAR variables */
/* FAQ variables */
/* DIRECTORY Feature variables */
/* GROUPS Feature variables */
/* HOMEPAGE variables */
/* NEWS Feature variables */
/* NEWSLETTER variables */
/* NEWSLETTER mail variables */
/****************************** FUNCTIONS *******************************/
.no_select_highlight {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/**********************************
******* NEWS Feature styles *******
**********************************/
.news-feature article {
  clear: left;
  padding-top: 2em;
}
.news-feature article .image {
  float: left;
  margin-right: 1em;
  width: 20%;
}
.news-feature article .date {
  display: block;
  font-family: 'AvenirLTW01-45BookObliq', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-size: 0.75em;
  font-style: normal;
}
.news-feature article .byline {
  display: block;
  font-family: 'AvenirLTW01-45BookObliq', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-size: 1em;
}
.news-feature article .title {
  font-family: 'Avenir LT W01 45 Book', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-size: 1.25em;
  font-weight: normal;
  margin-top: 0;
}
.news-feature article .body {
  font-family: 'Avenir LT W01 45 Book', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-weight: normal;
  font-size: 1em;
}
.news-feature article .more {
  font-family: 'AvenirLTW01-45BookObliq', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-size: 1em;
  font-style: normal;
}
/**** /end NEWS Feature styles ****/
