/*
 * CORE CSS FOR SY NEWSLETTER FEATURE:
 * sy_newsletters
 */
/* LESS.css variables */
/* CLASSIC 1b */
/* LESS.css variables */
/* (get imported in each separate .less file) 

CLASSIC 2*/
/******************************** LAYOUT ********************************/
/******************************** COLORS ********************************/
/* Branding Colors */
/****************************** TYPOGRAPHY ******************************/
strong,
b {
  font-family: 'Avenir LT W01 45 Book', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-weight: 700;
}
em,
i {
  font-family: 'Avenir LT W01 45 Book', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-style: italic;
}
strong em,
em strong,
b i,
i b {
  font-family: 'AvenirLTW01-85HeavyObli', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-style: italic;
  font-weight: 700;
}
body#tinymce em,
body.forceColors #iframe em,
body #tinymce em,
body.mceContentBody em,
body#tinymce i,
body.forceColors #iframe i,
body #tinymce i,
body.mceContentBody i {
  font-style: italic;
}
body#tinymce b,
body.forceColors #iframe b,
body #tinymce b,
body.mceContentBody b,
body#tinymce strong,
body.forceColors #iframe strong,
body #tinymce strong,
body.mceContentBody strong {
  font-weight: bold;
}
/*************************** HTML BASE STYLES ****************************/
/* H1*/
/* H2*/
/* H3*/
/* H4*/
/* H5*/
/* H6*/
/* Blockquote */
/* Links */
/*************************** FORM BASE STYLES ****************************/
/******************************** BUTTONS ********************************/
/******************************** HEADER ********************************/
/******************************** TOOLBAR ********************************/
/******************************** NAVBAR ********************************/
/***************************** MOBILE MENU ******************************/
/****************************** SEARCH **********************************/
/**************************** SIDEBAR-LEFT ******************************/
/**************************** SIDEBAR-RIGHT *****************************/
/****************************** FLEX SLIDER *******************************/
/******************************** FOOTER ********************************/
/******************************* HOMEPAGE *******************************/
/* Events Feed */
/* Callouts */
/* News Feed */
/* Desktop View */
/********************************* AUX **********************************/
/* ALERT variables */
/* CALLOUT button */
/* BLOG Feature variables */
/* BUTTON colors */
/* CALENDAR variables */
/* FAQ variables */
/* DIRECTORY Feature variables */
/* GROUPS Feature variables */
/* HOMEPAGE variables */
/* NEWS Feature variables */
/* NEWSLETTER variables */
/* NEWSLETTER mail variables */
/****************************** FUNCTIONS *******************************/
.no_select_highlight {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/***********************************
***** Newletter Feature Styles *****
***********************************/
.view-Newsletter-Issues {
  clear: left;
}
.view-Newsletter-Issues ul {
  list-style: none;
  padding: 0;
}
.view-Newsletter-Issues ul li {
  clear: left;
  list-style: none;
  margin-top: 1.5em;
  margin-left: 2.9296875%;
}
.view-Newsletter-Issues ul li span.text {
  display: block;
  float: left;
}
.view-Newsletter-Issues ul li b.body {
  font-family: 'Avenir LT W01 45 Book', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-weight: normal;
}
.view-Newsletter-Issues ul li i img {
  border: solid 5px #fff;
  -webkit-box-shadow: 3px 3px 10px #000000;
  -moz-box-shadow: 3px 3px 10px #000000;
  box-shadow: 3px 3px 10px #000000;
  display: block;
  float: left;
  margin-right: 2.9296875%;
  width: 25%;
}
.view-Newsletter-Issues ul li.first {
  margin-top: 0;
}
.node-type-newsletter-issue #content-header {
  width: 100%;
}
.node-type-newsletter-issue .field-field-issue-date {
  font-size: 1em;
  font-style: italic;
  margin: 0 0 1em;
}
/** In this issue **/
.node-type-newsletter-issue ul.masthead,
.node-type-newsletter-issue-full-stories ul.masthead,
#mail-page ul.masthead {
  list-style: none;
  margin: 0;
  padding: 0;
}
.node-type-newsletter-issue ul.masthead li,
.node-type-newsletter-issue-full-stories ul.masthead li,
#mail-page ul.masthead li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.node-type-newsletter-issue ul.masthead li i.image,
.node-type-newsletter-issue-full-stories ul.masthead li i.image,
#mail-page ul.masthead li i.image {
  display: block;
  margin: 0;
  padding: 0;
}
.node-type-newsletter-issue ul.masthead li i.image img,
.node-type-newsletter-issue-full-stories ul.masthead li i.image img,
#mail-page ul.masthead li i.image img {
  display: block;
  height: auto;
  margin: 0;
  padding: 0;
}
.node-type-newsletter-issue ul.masthead li .masthead_details,
.node-type-newsletter-issue-full-stories ul.masthead li .masthead_details,
#mail-page ul.masthead li .masthead_details {
  background-color: #00705a;
  color: #ffffff;
  display: block;
  font-size: 1.25em;
  padding: .5em 1em;
  text-align: right;
}
.node-type-newsletter-issue ul.masthead li .masthead_details b.newsletter,
.node-type-newsletter-issue-full-stories ul.masthead li .masthead_details b.newsletter,
#mail-page ul.masthead li .masthead_details b.newsletter {
  float: left;
  font-family: 'Avenir LT W01 45 Book', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-weight: normal;
}
.node-type-newsletter-issue .field-field-intro-copy,
.node-type-newsletter-issue-full-stories .field-field-intro-copy,
#mail-page .field-field-intro-copy {
  /* Intro copy */
  border-bottom: dotted 1px #cccccc;
  float: left;
  width: 65%;
}
.node-type-newsletter-issue ul.newsltr_articles,
.node-type-newsletter-issue-full-stories ul.newsltr_articles,
#mail-page ul.newsltr_articles {
  list-style: none;
  margin: 0;
  padding: 0;
}
.node-type-newsletter-issue ul.newsltr_articles li,
.node-type-newsletter-issue-full-stories ul.newsltr_articles li,
#mail-page ul.newsltr_articles li {
  clear: left;
  list-style: none;
  margin: 0;
  padding: 1.5em 0 0 0;
}
.node-type-newsletter-issue ul.newsltr_articles li i.image,
.node-type-newsletter-issue-full-stories ul.newsltr_articles li i.image,
#mail-page ul.newsltr_articles li i.image {
  float: left;
  margin-right: 5.859375%;
  max-width: 33%;
  width: 33%;
}
.node-type-newsletter-issue ul.newsltr_articles li b.body,
.node-type-newsletter-issue-full-stories ul.newsltr_articles li b.body,
#mail-page ul.newsltr_articles li b.body {
  font-family: 'Avenir LT W01 45 Book', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-weight: normal;
}
.node-type-newsletter-issue ul.newsltr_articles li em.more_link,
.node-type-newsletter-issue-full-stories ul.newsltr_articles li em.more_link,
#mail-page ul.newsltr_articles li em.more_link {
  font-style: normal;
}
.node-type-newsletter-issue .view-Newsletter-Articles.view-display-id-node_content_2,
.node-type-newsletter-issue-full-stories .view-Newsletter-Articles.view-display-id-node_content_2,
#mail-page .view-Newsletter-Articles.view-display-id-node_content_2 {
  /* In this issue */
  border-left: solid 1px #c8c8c8;
  float: right;
  margin-left: 0;
  margin-top: 1em;
  padding-bottom: 2em;
  padding-left: 2.9296875%;
  width: 30%;
}
.node-type-newsletter-issue .view-Newsletter-Articles.view-display-id-node_content_3,
.node-type-newsletter-issue-full-stories .view-Newsletter-Articles.view-display-id-node_content_3,
#mail-page .view-Newsletter-Articles.view-display-id-node_content_3 {
  /* Announcements */
  border-left: solid 1px #c8c8c8;
  float: right;
  margin-left: 0;
  padding-bottom: 2em;
  padding-left: 2.9296875%;
  width: 30%;
}
.node-type-newsletter-issue .view-Newsletter-Articles.view-display-id-node_content_3 b.body,
.node-type-newsletter-issue-full-stories .view-Newsletter-Articles.view-display-id-node_content_3 b.body,
#mail-page .view-Newsletter-Articles.view-display-id-node_content_3 b.body {
  font-weight: normal;
  font-family: 'Avenir LT W01 45 Book', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
}
.node-type-newsletter-issue .view-Newsletter-Articles.view-display-id-node_content_5,
.node-type-newsletter-issue-full-stories .view-Newsletter-Articles.view-display-id-node_content_5,
#mail-page .view-Newsletter-Articles.view-display-id-node_content_5 {
  /* Upcoming Events */
  border-left: solid 1px #c8c8c8;
  clear: right;
  float: right;
  margin-left: 0;
  padding-bottom: 2em;
  padding-left: 2.9296875%;
  width: 30%;
}
.node-type-newsletter-issue .view-Newsletter-Articles.view-display-id-node_content_5 b.date-title,
.node-type-newsletter-issue-full-stories .view-Newsletter-Articles.view-display-id-node_content_5 b.date-title,
#mail-page .view-Newsletter-Articles.view-display-id-node_content_5 b.date-title {
  font-family: 'Avenir LT W01 45 Book', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-weight: normal;
}
.node-type-newsletter-issue .view-Newsletter-Articles.view-display-id-node_content_6,
.node-type-newsletter-issue-full-stories .view-Newsletter-Articles.view-display-id-node_content_6,
#mail-page .view-Newsletter-Articles.view-display-id-node_content_6 {
  /* Supplemental Contact Info */
  border-left: solid 1px #c8c8c8;
  clear: right;
  float: right;
  margin-left: 0;
  padding-left: 2.9296875%;
  width: 30%;
}
.node-type-newsletter-issue .view-Newsletter-Articles.view-display-id-node_content_6 b.body,
.node-type-newsletter-issue-full-stories .view-Newsletter-Articles.view-display-id-node_content_6 b.body,
#mail-page .view-Newsletter-Articles.view-display-id-node_content_6 b.body {
  font-family: 'Avenir LT W01 45 Book', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-weight: normal;
}
.node-type-newsletter-issue .view-Newsletter-Articles.view-display-id-node_content_2,
.node-type-newsletter-issue-full-stories .view-Newsletter-Articles.view-display-id-node_content_2,
#mail-page .view-Newsletter-Articles.view-display-id-node_content_2,
.node-type-newsletter-issue .view-Newsletter-Articles.view-display-id-node_content_3,
.node-type-newsletter-issue-full-stories .view-Newsletter-Articles.view-display-id-node_content_3,
#mail-page .view-Newsletter-Articles.view-display-id-node_content_3,
.node-type-newsletter-issue .view-Newsletter-Articles.view-display-id-node_content_5,
.node-type-newsletter-issue-full-stories .view-Newsletter-Articles.view-display-id-node_content_5,
#mail-page .view-Newsletter-Articles.view-display-id-node_content_5,
.node-type-newsletter-issue .view-Newsletter-Articles.view-display-id-node_content_6,
.node-type-newsletter-issue-full-stories .view-Newsletter-Articles.view-display-id-node_content_6,
#mail-page .view-Newsletter-Articles.view-display-id-node_content_6 {
  /* Sidebar headers */
}
.node-type-newsletter-issue .view-Newsletter-Articles.view-display-id-node_content_2 .view-title,
.node-type-newsletter-issue-full-stories .view-Newsletter-Articles.view-display-id-node_content_2 .view-title,
#mail-page .view-Newsletter-Articles.view-display-id-node_content_2 .view-title,
.node-type-newsletter-issue .view-Newsletter-Articles.view-display-id-node_content_3 .view-title,
.node-type-newsletter-issue-full-stories .view-Newsletter-Articles.view-display-id-node_content_3 .view-title,
#mail-page .view-Newsletter-Articles.view-display-id-node_content_3 .view-title,
.node-type-newsletter-issue .view-Newsletter-Articles.view-display-id-node_content_5 .view-title,
.node-type-newsletter-issue-full-stories .view-Newsletter-Articles.view-display-id-node_content_5 .view-title,
#mail-page .view-Newsletter-Articles.view-display-id-node_content_5 .view-title,
.node-type-newsletter-issue .view-Newsletter-Articles.view-display-id-node_content_6 .view-title,
.node-type-newsletter-issue-full-stories .view-Newsletter-Articles.view-display-id-node_content_6 .view-title,
#mail-page .view-Newsletter-Articles.view-display-id-node_content_6 .view-title,
.node-type-newsletter-issue .view-Newsletter-Articles.view-display-id-node_content_2 h2.title,
.node-type-newsletter-issue-full-stories .view-Newsletter-Articles.view-display-id-node_content_2 h2.title,
#mail-page .view-Newsletter-Articles.view-display-id-node_content_2 h2.title,
.node-type-newsletter-issue .view-Newsletter-Articles.view-display-id-node_content_3 h2.title,
.node-type-newsletter-issue-full-stories .view-Newsletter-Articles.view-display-id-node_content_3 h2.title,
#mail-page .view-Newsletter-Articles.view-display-id-node_content_3 h2.title,
.node-type-newsletter-issue .view-Newsletter-Articles.view-display-id-node_content_5 h2.title,
.node-type-newsletter-issue-full-stories .view-Newsletter-Articles.view-display-id-node_content_5 h2.title,
#mail-page .view-Newsletter-Articles.view-display-id-node_content_5 h2.title,
.node-type-newsletter-issue .view-Newsletter-Articles.view-display-id-node_content_6 h2.title,
.node-type-newsletter-issue-full-stories .view-Newsletter-Articles.view-display-id-node_content_6 h2.title,
#mail-page .view-Newsletter-Articles.view-display-id-node_content_6 h2.title {
  background-color: #cccccc;
  color: #ffffff;
  font-family: 'Palatino LT W01 Medium', Rockwell, Georgia, "Times New Roman", "Bitstream Vera Serif", serif;
  font-size: 0.86em;
  font-weight: normal;
  margin-bottom: 1em;
  margin-left: -8.7890625%;
  padding: .3em 1em;
  text-transform: uppercase;
}
.node-type-newsletter-issue .view-Newsletter-Articles.view-display-id-node_content_2 ul,
.node-type-newsletter-issue-full-stories .view-Newsletter-Articles.view-display-id-node_content_2 ul,
#mail-page .view-Newsletter-Articles.view-display-id-node_content_2 ul,
.node-type-newsletter-issue .view-Newsletter-Articles.view-display-id-node_content_3 ul,
.node-type-newsletter-issue-full-stories .view-Newsletter-Articles.view-display-id-node_content_3 ul,
#mail-page .view-Newsletter-Articles.view-display-id-node_content_3 ul,
.node-type-newsletter-issue .view-Newsletter-Articles.view-display-id-node_content_5 ul,
.node-type-newsletter-issue-full-stories .view-Newsletter-Articles.view-display-id-node_content_5 ul,
#mail-page .view-Newsletter-Articles.view-display-id-node_content_5 ul,
.node-type-newsletter-issue .view-Newsletter-Articles.view-display-id-node_content_6 ul,
.node-type-newsletter-issue-full-stories .view-Newsletter-Articles.view-display-id-node_content_6 ul,
#mail-page .view-Newsletter-Articles.view-display-id-node_content_6 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.node-type-newsletter-issue .view-Newsletter-Articles.view-display-id-node_content_2 ul li,
.node-type-newsletter-issue-full-stories .view-Newsletter-Articles.view-display-id-node_content_2 ul li,
#mail-page .view-Newsletter-Articles.view-display-id-node_content_2 ul li,
.node-type-newsletter-issue .view-Newsletter-Articles.view-display-id-node_content_3 ul li,
.node-type-newsletter-issue-full-stories .view-Newsletter-Articles.view-display-id-node_content_3 ul li,
#mail-page .view-Newsletter-Articles.view-display-id-node_content_3 ul li,
.node-type-newsletter-issue .view-Newsletter-Articles.view-display-id-node_content_5 ul li,
.node-type-newsletter-issue-full-stories .view-Newsletter-Articles.view-display-id-node_content_5 ul li,
#mail-page .view-Newsletter-Articles.view-display-id-node_content_5 ul li,
.node-type-newsletter-issue .view-Newsletter-Articles.view-display-id-node_content_6 ul li,
.node-type-newsletter-issue-full-stories .view-Newsletter-Articles.view-display-id-node_content_6 ul li,
#mail-page .view-Newsletter-Articles.view-display-id-node_content_6 ul li {
  list-style: none;
  margin: 0;
  padding: 0 0 1em 0;
}
.node-type-newsletter-issue .view-Newsletter-Articles.view-display-id-node_content_1,
.node-type-newsletter-issue-full-stories .view-Newsletter-Articles.view-display-id-node_content_1,
#mail-page .view-Newsletter-Articles.view-display-id-node_content_1,
.node-type-newsletter-issue .view-Newsletter-Articles.view-display-id-node_content_7,
.node-type-newsletter-issue-full-stories .view-Newsletter-Articles.view-display-id-node_content_7,
#mail-page .view-Newsletter-Articles.view-display-id-node_content_7,
.node-type-newsletter-issue .view-Newsletter-Articles.view-display-id-node_content_4,
.node-type-newsletter-issue-full-stories .view-Newsletter-Articles.view-display-id-node_content_4,
#mail-page .view-Newsletter-Articles.view-display-id-node_content_4 {
  clear: left;
  float: left;
  width: 65%;
}
.node-type-newsletter-issue .newsltr_sidebar_block,
.node-type-newsletter-issue-full-stories .newsltr_sidebar_block,
#mail-page .newsltr_sidebar_block {
  clear: right;
}
.node-type-newsletter-issue .field-field-bottom-copy,
.node-type-newsletter-issue-full-stories .field-field-bottom-copy,
#mail-page .field-field-bottom-copy {
  /* Bottom copy */
  border-top: dotted 1px #cccccc;
  float: left;
  margin-top: 1em;
  padding-top: 1em;
  width: 65%;
}
/* RESPONSIVE IMAGE styles for article body content */
/*
.node-type-newsletter-issue-full-stories {
	.newsltr_articles {
	  .imagecach-medium[style*="left"],
	  .imagecach-thumbnail[style*="left"] {
	  	margin-right: @gutter-percent; 
	  	margin-bottom: @gutter-percent / 2;
	  	float: left; 
	  	clear: left;
	  }
	
	  .imagecache-medium[style*="right"],
	  .imagecache-thumbnail[style*="right"] {
	  	margin-left: @gutter-percent; 
	  	margin-bottom: @gutter-percent / 2;
	  	float: right; 
	  	clear: right;
	  }
	
	  /* image cache preset specific styes */
/*	  .imagecache-medium {
	  	width: (50% - @gutter-percent); 
	  	max-width: (50% - @gutter-percent);
	  }
	
	  .imagecache-thumbnail {
	  	width: (33% - @gutter-percent); 
	  	max-width: (33% - @gutter-percent);
	  }
	}
}
*/
/* NEWSLETTER mail styles */
#mail-page {
  margin-bottom: 0;
  padding: 0;
  width: 700px;
  background-color: #fefefe;
  margin: 10px auto 0 auto;
  font-family: Helvetica, Arial, sans-serif;
}
#mail-page .views-admin-links {
  display: none;
  visibility: hidden;
}
#mail-page b,
#mail-page td {
  font-family: Helvetica, Arial, sans-serif;
}
#mail-page #mail-header {
  background-color: #00705a;
  color: #ffffff;
  padding: 0;
  margin: 0;
}
#mail-page #mail-body {
  background-color: #fefefe;
  margin-bottom: 0;
  padding: 0;
}
#mail-page #mail-body h1 {
  padding-left: 20px;
  font-family: Rockwell, Georgia, serif;
  font-weight: bold;
}
#mail-page #mail-body h2,
#mail-page #mail-body h3,
#mail-page #mail-body h4 {
  font-family: Rockwell, Georgia, serif;
  font-weight: bold;
}
#mail-page #mail-body .imagecache-medium {
  width: 47.0703125%;
  max-width: 47.0703125%;
  float: left;
  margin-right: 5.859375%;
}
#mail-page #mail-body .imagecache-thumbnail {
  width: 30.0703125%;
  max-width: 30.0703125%;
  float: left;
  margin-right: 5.859375%;
}
#mail-page #mail-body .newsletter-main {
  width: 65%;
  vertical-align: top;
  padding: 0 20px;
}
#mail-page #mail-body .newsletter-main .field-field-intro-copy,
#mail-page #mail-body .newsletter-main .view-Newsletter-Articles.view-display-id-node_content_1,
#mail-page #mail-body .newsletter-main .view-Newsletter-Articles.view-display-id-node_content_7,
#mail-page #mail-body .newsletter-main .view-Newsletter-Articles.view-display-id-node_content_4,
#mail-page #mail-body .newsletter-main .field-field-bottom-copy {
  width: 100%;
  float: none;
  clear: left;
}
#mail-page #mail-body .newsletter-main .field-field-intro-copy b.body,
#mail-page #mail-body .newsletter-main .view-Newsletter-Articles.view-display-id-node_content_1 b.body,
#mail-page #mail-body .newsletter-main .view-Newsletter-Articles.view-display-id-node_content_7 b.body,
#mail-page #mail-body .newsletter-main .view-Newsletter-Articles.view-display-id-node_content_4 b.body,
#mail-page #mail-body .newsletter-main .field-field-bottom-copy b.body {
  font-weight: normal;
  font-family: Helvetica, Arial, sans-serif;
}
#mail-page #mail-body .newsletter-main .field-field-intro-copy .add_link,
#mail-page #mail-body .newsletter-main .view-Newsletter-Articles.view-display-id-node_content_1 .add_link,
#mail-page #mail-body .newsletter-main .view-Newsletter-Articles.view-display-id-node_content_7 .add_link,
#mail-page #mail-body .newsletter-main .view-Newsletter-Articles.view-display-id-node_content_4 .add_link,
#mail-page #mail-body .newsletter-main .field-field-bottom-copy .add_link {
  visibility: hidden;
  display: none;
}
#mail-page #mail-body .newsletter-sidebar {
  width: 35%;
  background-color: #e5e5e5;
  vertical-align: top;
}
#mail-page #mail-body .newsletter-sidebar .view-Newsletter-Articles.view-display-id-node_content_2,
#mail-page #mail-body .newsletter-sidebar .view-Newsletter-Articles.view-display-id-node_content_3,
#mail-page #mail-body .newsletter-sidebar .view-Newsletter-Articles.view-display-id-node_content_5,
#mail-page #mail-body .newsletter-sidebar .view-Newsletter-Articles.view-display-id-node_content_6 {
  /* In this issue */
  width: 100%;
  float: none;
  padding: 0;
  padding-left: 0 !important;
  border-left: none;
}
#mail-page #mail-body .newsletter-sidebar .view-Newsletter-Articles.view-display-id-node_content_2 .view-title,
#mail-page #mail-body .newsletter-sidebar .view-Newsletter-Articles.view-display-id-node_content_3 .view-title,
#mail-page #mail-body .newsletter-sidebar .view-Newsletter-Articles.view-display-id-node_content_5 .view-title,
#mail-page #mail-body .newsletter-sidebar .view-Newsletter-Articles.view-display-id-node_content_6 .view-title,
#mail-page #mail-body .newsletter-sidebar .view-Newsletter-Articles.view-display-id-node_content_2 h2.title,
#mail-page #mail-body .newsletter-sidebar .view-Newsletter-Articles.view-display-id-node_content_3 h2.title,
#mail-page #mail-body .newsletter-sidebar .view-Newsletter-Articles.view-display-id-node_content_5 h2.title,
#mail-page #mail-body .newsletter-sidebar .view-Newsletter-Articles.view-display-id-node_content_6 h2.title {
  margin-left: 0 !important;
  font-family: Rockwell, Georgia, serif;
  font-weight: bold;
}
#mail-page #mail-body .newsletter-sidebar .view-Newsletter-Articles.view-display-id-node_content_2 b.body,
#mail-page #mail-body .newsletter-sidebar .view-Newsletter-Articles.view-display-id-node_content_3 b.body,
#mail-page #mail-body .newsletter-sidebar .view-Newsletter-Articles.view-display-id-node_content_5 b.body,
#mail-page #mail-body .newsletter-sidebar .view-Newsletter-Articles.view-display-id-node_content_6 b.body {
  font-weight: normal;
  font-family: Helvetica, Arial, sans-serif;
}
#mail-page #mail-body .newsletter-sidebar .view-Newsletter-Articles.view-display-id-node_content_2 .view-content,
#mail-page #mail-body .newsletter-sidebar .view-Newsletter-Articles.view-display-id-node_content_3 .view-content,
#mail-page #mail-body .newsletter-sidebar .view-Newsletter-Articles.view-display-id-node_content_5 .view-content,
#mail-page #mail-body .newsletter-sidebar .view-Newsletter-Articles.view-display-id-node_content_6 .view-content {
  padding-left: 10px;
  padding-right: 10px;
}
#mail-page #mail-body .newsletter-sidebar .view-Newsletter-Articles.view-display-id-node_content_2 .view-content h2.title,
#mail-page #mail-body .newsletter-sidebar .view-Newsletter-Articles.view-display-id-node_content_3 .view-content h2.title,
#mail-page #mail-body .newsletter-sidebar .view-Newsletter-Articles.view-display-id-node_content_5 .view-content h2.title,
#mail-page #mail-body .newsletter-sidebar .view-Newsletter-Articles.view-display-id-node_content_6 .view-content h2.title {
  margin-left: -10px !important;
  margin-right: -10px !important;
}
#mail-page #mail-body .newsletter-sidebar .view-Newsletter-Articles.view-display-id-node_content_2 .edit_link,
#mail-page #mail-body .newsletter-sidebar .view-Newsletter-Articles.view-display-id-node_content_3 .edit_link,
#mail-page #mail-body .newsletter-sidebar .view-Newsletter-Articles.view-display-id-node_content_5 .edit_link,
#mail-page #mail-body .newsletter-sidebar .view-Newsletter-Articles.view-display-id-node_content_6 .edit_link {
  visibility: hidden;
  display: none;
}
#mail-closure {
  margin: 0 auto 10px auto;
  padding: 0 0 20px 0;
  width: 700px;
  text-align: center;
}
#mail-footer {
  display: block;
  background-color: #00705a;
  color: #ffffff;
  padding: 5px 10px;
}
/**** /end Newsletter Feature styles ****/
