/*
 * CORE CSS FOR SY RESPONSIVE IMAGES:
 * sy_responsive_images
 */
/* LESS.css variables */
/* CLASSIC 1b */
/* LESS.css variables */
/* (get imported in each separate .less file) 

CLASSIC 2*/
/******************************** LAYOUT ********************************/
/******************************** COLORS ********************************/
/* Branding Colors */
/****************************** TYPOGRAPHY ******************************/
strong,
b {
  font-family: 'Avenir LT W01 45 Book', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-weight: 700;
}
em,
i {
  font-family: 'Avenir LT W01 45 Book', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-style: italic;
}
strong em,
em strong,
b i,
i b {
  font-family: 'AvenirLTW01-85HeavyObli', Verdana, Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-style: italic;
  font-weight: 700;
}
body#tinymce em,
body.forceColors #iframe em,
body #tinymce em,
body.mceContentBody em,
body#tinymce i,
body.forceColors #iframe i,
body #tinymce i,
body.mceContentBody i {
  font-style: italic;
}
body#tinymce b,
body.forceColors #iframe b,
body #tinymce b,
body.mceContentBody b,
body#tinymce strong,
body.forceColors #iframe strong,
body #tinymce strong,
body.mceContentBody strong {
  font-weight: bold;
}
/*************************** HTML BASE STYLES ****************************/
/* H1*/
/* H2*/
/* H3*/
/* H4*/
/* H5*/
/* H6*/
/* Blockquote */
/* Links */
/*************************** FORM BASE STYLES ****************************/
/******************************** BUTTONS ********************************/
/******************************** HEADER ********************************/
/******************************** TOOLBAR ********************************/
/******************************** NAVBAR ********************************/
/***************************** MOBILE MENU ******************************/
/****************************** SEARCH **********************************/
/**************************** SIDEBAR-LEFT ******************************/
/**************************** SIDEBAR-RIGHT *****************************/
/****************************** FLEX SLIDER *******************************/
/******************************** FOOTER ********************************/
/******************************* HOMEPAGE *******************************/
/* Events Feed */
/* Callouts */
/* News Feed */
/* Desktop View */
/********************************* AUX **********************************/
/* ALERT variables */
/* CALLOUT button */
/* BLOG Feature variables */
/* BUTTON colors */
/* CALENDAR variables */
/* FAQ variables */
/* DIRECTORY Feature variables */
/* GROUPS Feature variables */
/* HOMEPAGE variables */
/* NEWS Feature variables */
/* NEWSLETTER variables */
/* NEWSLETTER mail variables */
/****************************** FUNCTIONS *******************************/
.no_select_highlight {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/*************************************
****** RESPONSIVE IMAGE styles *******
*************************************/
.image-caption-container {
  max-width: 100%;
  width: 100%;
}
.image-caption-container img {
  max-width: 100%;
  width: 100%;
}
.image-caption-container[style*="left"] {
  clear: left;
  float: left;
  margin-right: 2.9296875%;
}
.image-caption-container[style*="right"] {
  clear: right;
  float: right;
  margin-left: 2.9296875%;
}
.image-caption-container[style*="auto"] {
  clear: both;
  display: block;
  float: none;
  margin: 0 auto;
}
/* image cache preset specific styes */
.image-caption-container.imagecache-medium,
img.imagecache-medium {
  max-width: 47.0703125%;
  width: 47.0703125%;
}
.image-caption-container.imagecache-thumbnail,
img.imagecache-thumbnail {
  max-width: 30.0703125%;
  width: 30.0703125%;
}
.image-caption-container.imagecache-medium img.imagecache-medium,
.image-caption-container.imagecache-thumbnail img.imagecache-thumbnail {
  max-width: 100%;
  width: 100%;
}
/**** /end RESPONSIVE IMAGE styles ****/
